body {
  background-color: #000;
  color: rgba(255, 255, 255, 0.97);
  text-align: center;
}

.preview-container {
  margin: auto;
  position: relative;
  max-width: 90%;
  width: 300px;
}

.preview-video {
  position: absolute;
  left: 6%;
  bottom: 3%;
  height: 95%;
  border-radius: 25px;
}
